name: C++ CI with JUnit Report

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo apt-get install -y g++ cmake libgtest-dev

      - name: Build
        run: |
          mkdir build
          cd build
          cmake ..
          make

      - name: Run ForwardList tests
        run: |
          mkdir -p test-reports
          cd build
          ./test_ForwardList --gtest_output=xml:../test-reports/forwardlist.xml

      - name: Run CircularDLL tests
        run: |
          cd build
          ./test_CircularDLL --gtest_output=xml:../test-reports/circulardll.xml

      - name: Run BinarySearchTree tests
        run: |
          cd build
          ./test_BinarySearchTree --gtest_output=xml:../test-reports/binarysearchtree.xml

      - name: Run HashTable_Set tests
        run: |
          cd build
          ./test_HashTable_Set --gtest_output=xml:../test-reports/hashtable_set.xml

      # Subir el artefacto (para descargar los XML)
      - name: Upload JUnit report
        uses: actions/upload-artifact@v4
        with:
          name: junit-report-${{ github.run_id }}
          path: test-reports/*.xml

      # Mostrar el reporte en la interfaz de GitHub Actions
      - name: Display JUnit Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Test Results
          path: test-reports/*.xml
          reporter: junit